# specific for this file
/maven/

 
# Maven
log/
target/

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store


# NetBeans specific #
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip

# Log files
derby.log

