/target/
/apache-maven-3.5.4-bin.zip
/maven/
/.classpath
/.project
/.settings/
/nbproject/
/bankcard-parent/card-web/nb-configuration.xml
/week1/doc/
*.class
*.jar
/week1/maven-test-exercise/MD/target/
/myPracticeCourseWork/example1/target/
/week1/factoryandfacade/factoryandfacade/nbproject/
/week1/factoryandfacade/factoryandfacade/target/
/week2/factoryandfacade/factoryandfacade/target/
/week2/factoryandfacade/factoryandfacade/nbproject/