<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="APP_LOG_ROOT" >target</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="appLog" fileName="${APP_LOG_ROOT}/appLog.log"
                     filePattern="${APP_LOG_ROOT}/appLog-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
        <RollingFile name="transactionLog" fileName="${APP_LOG_ROOT}/transactionLog.log"
                     filePattern="${APP_LOG_ROOT}/transactionLog-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="${package}"  additivity="false" level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="appLog"/>
        </Logger>
        <Logger name="transaction-log"  additivity="false" level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="transactionLog"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>