# This file is read by the maven properties plugin and includes
# properties which can be used during the build.
# it is intended for passwords / key locations etc which are not shared publicly
# to use thIS file rename team.properties.example to team.properties
# WARNING DO NOT CHECK IN team.properties (use .gitignore)

# server to which to deploy war files using maven cargo plugin 
deployment.cargo.server.hostname=localhost
deployment.cargo.server.port=8080

# server username and password
deployment.cargo.server.username=deploymentusername
deployment.cargo.server.password=deploymentpassword
