<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


	<display-name>basicfacadeweb</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- initialise spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc-dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!--     <servlet> -->
<!--         <servlet-name>SpringJerseyApplication</servlet-name> -->
<!--         <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> -->
<!--         <init-param> -->
<!--             <param-name>javax.ws.rs.Application</param-name> -->
<!--             <param-value>org.solent.com504.project.impl.rest.RestApp</param-value> -->
<!--         </init-param> -->
<!--         <load-on-startup>2</load-on-startup> -->
<!--     </servlet> -->
<!--     <servlet-mapping> -->
<!--         <servlet-name>SpringJerseyApplication</servlet-name> -->
<!--         <url-pattern>/rest/*</url-pattern> -->
<!--     </servlet-mapping> -->



</web-app>
